<div style="width: 600px; margin: 50px auto">
  <app-loading [loading]="heroesLoading$ | async" (cancel)="cancelFetch()">
    <div *ngIf="heroesError$ | async as errors">
      {{ errors }}

      <button (click)="fetchHeroes()">Try again</button>
    </div>

    <div *ngIf="(heroes$ | async) as heroes">
      <ul style="list-style: none; border-top: solid 1px #ccc; margin-bottom: 20px;">
        <li *ngFor="let hero of heroes" style="padding: 12px 24px; border-bottom: solid 1px #ccc">
          <a [routerLink]="['./', hero.id]">{{ hero.name }}</a>
        </li>
      </ul>

      <div style="margin-bottom: 20px;" *ngIf="(heroesPagination$ | async) as pagination">
        {{ pagination?.offset + 1 }} - {{ pagination?.offset + pagination?.limit }} of {{ pagination?.total }}
        <button (click)="prev()">Prev</button>
        {{ (pagination?.offset / 10) + 1 }}
        <button (click)="next()">Next</button>
      </div>

      <div style="margin-bottom: 20px;" *ngIf="(meta$ | async) as meta">
        Time: {{ (meta?.lastUpdated - meta?.startFetching) / 1000 > 0 ? (meta?.lastUpdated - meta?.startFetching) / 1000 : 0 }} seconds
      </div>

      <button (click)="cancelFetch()">Cancel</button>
    </div>
  </app-loading>
</div>
