{{ (isLoading$ | async) }}
<div class="m-loading" *ngIf="(isLoading$ | async) !== null">
    {{ (isLoading$ | async) }}
  <div *ngIf="(isLoading$ | async) === loader.status.SHORT">
    ...
  </div>

  <div *ngIf="(isLoading$ | async) === loader.status.MIDDLE">
    Loading...
  </div>

  <div *ngIf="(isLoading$ | async) === loader.status.LONG">
    Loading takes longer than expected...
    <button (click)="emitCancel()">Cancel</button>
  </div>
</div>


<ng-content *ngIf="!(isLoading$ | async)"></ng-content>
