<div style="width: 600px; margin: 50px auto">
  <app-loading [loading]="heroesLoading$ | async" (cancel)="cancelFetch()">
    <div *ngIf="heroesError$ | async">
      {{ heroesError$ | async }}

      <button (click)="fetchHeroes()">Try again</button>
    </div>

    <div *ngIf="(heroes$ | async)">
      <ul style="list-style: none; border-top: solid 1px #ccc; margin-bottom: 20px;">
        <li *ngFor="let hero of (heroes$ | async)" style="padding: 12px 24px; border-bottom: solid 1px #ccc">
          {{ hero.name }}
        </li>
      </ul>

      <div style="margin-bottom: 20px;">
        {{ (heroesPagination$ | async)?.offset + 1 }} - {{ (heroesPagination$ | async)?.offset + (heroesPagination$ | async)?.limit }} of {{ (heroesPagination$ | async)?.total }}
        <button (click)="prev()">Prev</button>
        {{ ((heroesPagination$ | async)?.offset / 10) + 1 }}
        <button (click)="next()">Next</button>
      </div>

      <div style="margin-bottom: 20px;">
        Time: {{ ((meta$ | async)?.lastUpdated - (meta$ | async)?.startFetching) / 1000 > 0 ? ((meta$ | async)?.lastUpdated - (meta$ | async)?.startFetching) / 1000 : 0 }} seconds
      </div>

      <button (click)="cancelFetch()">Cancel</button>
    </div>
  </app-loading>
</div>
