<div style="width: 200px; margin: 50px auto">
  <h3>Users</h3>

  <app-is-loading [loading]="heroesLoading$ | async">
    Time: {{ ((meta$ | async)?.lastUpdated - (meta$ | async)?.startFetching) / 1000 }} seconds

    <div>
      <ul style="list-style: none; border-top: solid 1px #ccc">
        <li *ngFor="let hero of (heroes$ | async)" style="padding: 12px 24px; border-bottom: solid 1px #ccc">
          {{ hero.name }}
        </li>
      </ul>

      <button (click)="prev()">Prev</button>
      {{ page }}
      <button (click)="next()">Next</button>
    </div>
  </app-is-loading>

</div>
